# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# 编译产物
target/
*.class
*.jar
*.war

# 依赖
.mvn/
mvnw
mvnw.cmd

# IDE 配置（IntelliJ IDEA）
.idea/
*.iml
*.iws
*.ipr

# 日志与临时文件
*.log
*.tmp

# 敏感配置（非常重要！）
application.yml
application-dev.yml
.env